$noir: #222;

* {
  color: $noir;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, lightgray, silver);

  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .by {
      margin: 0 10px;
    }

    .header-icon {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 4px;
    }

    .icon-react {
      background-image: url('/images/react.png');
      background-color: $noir;
    }

    .icon-redux {
      background-image: url('/images/redux.png');
    }

    .icon-graphql {
      background-image: url('/images/graphql.png');
    }
  }

  nav {
    display: flex;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0.2rem 1rem;
      cursor: pointer;
      text-transform: uppercase;

      &.is-active {
        color: whitesmoke;
        background-color: $noir;
      }
    }
  }
}

.progress {
  width: 100px;
  height: 100px;
  background: url('/images/progress.svg') no-repeat;
  background-size: contain;
  background-position: center;
  margin: 100px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .character-list {
    width: 768px;
  }
}

.planets {
  display: flex;
  flex-direction: column;
  align-items: center;

  .planet-list {
    width: 768px;
  }
}

.character-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .associate-list, .character {
    width: 768px;
  }
}

.planet-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .character-list, .planet {
    width: 768px;
  }
}

.character {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  margin: 1rem 0;

  .info-panel {
    display: flex;
    flex-direction: column;
    flex: 4;

    .name {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      cursor: pointer;
    }

    .weapon-panel {
      display: flex;
      flex-direction: row;
      line-height: 30px;

      .weapon-icon {
        height: 30px;
        color: dimgray;
        text-transform: uppercase;
        font-size: .8rem;
        background: url('/images/weapon.png') no-repeat;
        background-size: contain;
        background-position: left middle;
        padding-left: 40px;
        padding-right: 10px;
      }
    }
  }

  .faction-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;

    .faction-icon-rebel {
      width: 100px;
      height: 100px;
      background: url('/images/rebel.png') no-repeat;
      background-size: contain;
    }

    .faction-icon-empire {
      width: 100px;
      height: 100px;
      background: url('/images/empire.png') no-repeat;
      background-size: contain;
    }

    .faction-icon-unknown {
      width: 100px;
      height: 100px;
      background: url('/images/unknown.png') no-repeat;
      background-size: contain;
    }

    .faction-name {
      font-size: 1.5rem;
    }
  }

  &.character-organic {

    .species-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 2;
      cursor: pointer;

      .species-icon {
        width: 100px;
        height: 100px;
        background: url('/images/organic.png') no-repeat;
        background-size: contain;
      }

      .species-name {
        font-size: 1.5rem;
      }
    }

    .planet-panel {
      display: flex;
      flex-direction: row;
      line-height: 30px;
      cursor: pointer;

      .planet-icon {
        height: 30px;
        color: dimgray;
        text-transform: uppercase;
        font-size: .8rem;
        background: url('/images/planet.png') no-repeat;
        background-size: contain;
        background-position: left middle;
        padding-left: 40px;
        padding-right: 10px;
      }
    }
  }

  &.character-droid {

    .droid-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 2;

      .droid-icon {
        width: 100px;
        height: 100px;
        background: url('/images/droid.png') no-repeat;
        background-size: contain;
      }

      .droid-label {
        font-size: 1.5rem;
      }
    }

    .function-panel {
      display: flex;
      flex-direction: row;
      line-height: 30px;

      .function-icon {
        height: 30px;
        color: dimgray;
        text-transform: uppercase;
        font-size: 0.8rem;
        background: url('/images/function.png') no-repeat;
        background-size: contain;
        background-position: left middle;
        padding-left: 40px;
        padding-right: 10px;
      }
    }
  }
}

.planet {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  margin: 1rem 0;

  .icon-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;

    .planet-icon {
      width: 100px;
      height: 100px;
      background: url('/images/planet.png') no-repeat;
      background-size: contain;
    }
  }

  .info-panel {
    display: flex;
    flex-direction: column;
    flex: 5;

    .name {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      cursor: pointer;
    }

    .ecology-panel {
      display: flex;
      flex-direction: row;
      line-height: 30px;

      .ecology-icon {
        height: 30px;
        color: dimgray;
        text-transform: uppercase;
        font-size: .8rem;
        background: url('/images/ecology.png') no-repeat;
        background-size: contain;
        background-position: left middle;
        padding-left: 40px;
        padding-right: 10px;
      }
    }
  }
}

.associate {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.4);
  padding: .5rem 1rem;
  cursor: pointer;

  .associate-organic {
    height: 30px;
    line-height: 30px;
    background: url('/images/organic.png') no-repeat;
    background-size: contain;
    background-position: left middle;
    padding-left: 40px;
    padding-right: 10px;
  }

  .associate-droid {
    height: 30px;
    line-height: 30px;
    background: url('/images/droid.png') no-repeat;
    background-size: contain;
    background-position: left middle;
    padding-left: 40px;
    padding-right: 10px;
  }

  .associate-faction {
    color: dimgray;
  }

  .associate-relation {
    line-height: 30px;
  }
}
